################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VietphraseMixHTML/bin/Debug/ar/InfoBox.resources.dll
*.dll
/VietphraseMixHTML/bin/Debug
/VietphraseMixHTML/obj/Debug
/VietphraseMixHTML/obj/Debug/VietphraseMixHTML.pdb
/VietphraseMixHTML/obj/Debug
/VietphraseMixHTML/bin/Debug
/VietphraseMixHTML/obj/Debug
/VietphraseMixHTML/bin/Debug

/.vs/VietphraseMixHTML/DesignTimeBuild
/.vs/VietphraseMixHTML/v15/Server/sqlite3
